PORT = 8000
MONGODB_URL=mongodb+srv://sonia036:<2003sonia>@cluster0.ef9ar2p.mongodb.net
ACCESS_TOKEN_SECRET = chai-aur-code
ACCESS_TOKEN_EXPIRY = 1d 

REFRESH_TOKEN_SECRET = chai-aur-backend
REFRESH_TOKEN_EXPIRY = 10d